@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Основные стили для всего сайта */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/static/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    overflow-x: hidden;
}

/* Навигационная панель */
.nav-bar-container {
    position: fixed;
    top: -8px;
    left: 0;
    width: 100%;
    height: 10vh;
    background-image: url('../images/header_bg1.png');
    background-size: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nav-bar {
    width: 87%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 25px;
}

.nav-button img {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.nav-button img:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
}

.nav-button #cart-count {
    position: relative;
    top: 0px;
    right: 25px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1;
    text-align: center;
}

.nav-button back {
    background-color: rgba(255, 255, 255, 0.1)
}

.language-switch {
    padding: 6px;
    border-radius: 9px;
    color: white;
    background-color: rgba(255, 255, 255, 0.06);
    border-color: #000000a1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7)
}

/* Центральная часть экрана */
.main-content {
    position: fixed;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    height: 44vh;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content-inner {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 27px;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7)

}

/* Карточки товаров */
.product-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-height: 100%;
    padding-bottom: 49px;
    height: 67%;
    width: 100%;
}

.product-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 0px;
    min-width: 80px;
    max-width: 250px;
    height: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    cursor: pointer;
    flex-shrink: 0; /* Не дает карточкам сжиматься */

}



.product-card img {
    max-width: 70%;
    border-radius: 10px;
    margin-bottom: -52px;
}

.product-card p {
    margin: 2px 25px;
    font-size: 19px;
    text-align: left;
}

.product-card button {
    background-color: #ffcc00;
    border: none;
    border-radius: 20px 2px;
    padding: 17px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    margin-top: -11px;
    margin-left: 152px;
}

.product-card button:hover {
    background-color: #ff9900;
}

/* Модальное окно для подробной информации о товаре */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 20px;
}

.modal-content img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.modal-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modal-content p {
    margin-bottom: 10px;
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

/* Нижняя часть экрана для меню категорий и списка элементов */
.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 33vh;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    overflow-x: auto;
    margin-bottom: 32px
}

.footer-item {
    text-align: center;
    cursor: pointer;
}

.footer-item img {
    width: 70px;
    height: 70px;
    border-radius: 20%;
    border: 1px solid #ffffff73;
}

.footer-item p {
    margin-top: 5px;
    font-size: 1em;
}

/* Стили для корзины */
.cart-item img {
    width: 15%;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.cart-total {
    grid-column-start: 2;
}

/* Всплывающее уведомление */
#toast {
    visibility: hidden;
    min-width: 125px;
    margin-left: -125px;
    background-color: rgba(100, 100, 100, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
