<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoReCa Partners</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <!-- Навигационная панель -->
    <div class="nav-bar-container">
        <div class="nav-bar">
            <a onclick="history.back()" class="nav-button" title="Back">
                <img src="{{ url_for('static', filename='images/icons/back.png') }}" alt="Back">
            </a>
            <a href="{{ url_for('home') }}" class="nav-button" title="Home">
                <img src="{{ url_for('static', filename='images/icons/home.png') }}" alt="Home">
            </a>
            <a href="{{ url_for('horeca') }}" class="nav-button" title="HoReCa">
                <img src="{{ url_for('static', filename='images/icons/horeca.png') }}" alt="HoReCa">
            </a>
            <a href="{{ url_for('entertainment') }}" class="nav-button" title="Game-Bar">
                <img src="{{ url_for('static', filename='images/icons/entertainment.png') }}" alt="Game-Bar">
            </a>
            <a href="{{ url_for('cart') }}" class="nav-button" title="Cart">
                <img src="{{ url_for('static', filename='images/icons/cart.png') }}" alt="Cart">
                <span id="cart-count">{{ session.get('cart', [])|length }}</span>
            </a>
            <button class="language-switch" onclick="switchLanguage()">EN</button>
        </div>
    </div>

    <!-- Центральная часть экрана для краткой информации о партнерах -->
    <div class="main-content">
        <div class="main-content-inner" id="horeca-info">
            <p>Выберите партнера, чтобы увидеть информацию.</p>
        </div>
    </div>

    <!-- Нижняя часть экрана для списка партнеров -->
    <div class="footer">
        {% for partner in horeca_partners %}
        <div class="footer-item" onclick="showPartnerInfo('{{ partner.id }}')">
            {% if partner.icon %}
            <img src="{{ url_for('static', filename='images/partners/' + partner.icon) }}" alt="{{ partner.name }}">
            {% else %}
            <img src="{{ url_for('static', filename='images/icons/default_partner.png') }}" alt="No Image Available">
            {% endif %}
            <p>{{ partner.name }}</p>
        </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
