<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drunk Owl Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <!-- Навигационная панель -->
    <div class="nav-bar-container">
        <div class="nav-bar">
            <a href="{{ url_for('home') }}" class="nav-button" title="Home">
                <img src="{{ url_for('static', filename='images/icons/home.png') }}" alt="Home">
            </a>
            <a href="{{ url_for('entertainment') }}" class="nav-button" title="Game-Bar">
                <img src="{{ url_for('static', filename='images/icons/entertainment.png') }}" alt="Game-Bar">
            </a>
            <a href="{{ url_for('horeca') }}" class="nav-button" title="HoReCa">
                <img src="{{ url_for('static', filename='images/icons/horeca.png') }}" alt="HoReCa">
            </a>
            <a href="{{ url_for('cart') }}" class="nav-button" title="Cart">
                <img src="{{ url_for('static', filename='images/icons/cart.png') }}" alt="Cart">
                <span id="cart-count">{{ session.get('cart', [])|length }}</span>
            </a>
            <button class="language-switch" onclick="switchLanguage()">EN</button>
        </div>
    </div>

    <!-- Центральная часть экрана -->
    <div class="main-content">
        <div class="main-content-inner" id="collection-info">
            <p>Выберите категорию, чтобы увидеть товары.</p>
        </div>
    </div>

    <!-- Модальное окно для отображения информации о товаре -->
    <div id="product-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img id="modal-image" src="" alt="Product Image">
            <h2 id="modal-title"></h2>
            <p id="modal-description"></p>
            <p id="modal-weight"></p>
            <p id="modal-price"></p>
            <button id="add-to-cart-modal-btn">Add to Cart</button>
            <button id="increase-quantity-modal-btn">+</button>
            <button id="decrease-quantity-modal-btn">-</button>
        </div>
    </div>

    <!-- Нижняя часть экрана для меню категорий -->
    <div class="footer">
        {% for category in categories %}
        <div class="footer-item" onclick="showCollectionInfo({{ category.id }})">
            <img src="{{ url_for('static', filename='images/categories/' + category['icon']) }}" alt="{{ category['name'] }}">
            <p>{{ category['name'] }}</p>
        </div>
        {% endfor %}
    </div>

    <!-- Всплывающее уведомление -->
    <div id="toast">Товар добавлен в корзину</div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
